<div>
<div class="timeline">
    <div class="beat-line" matTooltip=".......Beats Line......">
      <div *ngFor="let beat of beats" class="beat">
        {{ beat }}
      </div>
    </div>
  
    <div class="steps-container">
      <div 
        *ngFor="let step of steps"
        class="step"
        [style.left]="calculateLeftPosition(step.startBeat)"
        [style.width]="calculateWidth(step.beatDuration)"
        [style.background]="getRandomColor(step.name)"
        (click)="selectStep(step)"> 
        {{ step.name }}
      </div>
    </div>
  </div>
  <button mat-raised-button color="primary"  class="full-width-btn" (click)="openAddStepModal()">+ Add You Own Step</button>
  <!-- <button mat-raised-button color="primary" (click)="downloadChoreoJson()">Download </button>
  <input type="file" (change)="loadChoreographyFromFile($event)" accept=".json"> -->
</div>
  
  